@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer
@implements IDisposable
@inject NavigationManager NavigationManager

<div class="header-container">
    <div class="ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/5/50/Logo_Le_Plessis-Robinson.svg/1200px-Logo_Le_Plessis-Robinson.svg.png" alt="Landscape" />
            </a>
        </div>
    </div>

    <input type="checkbox" @onchange="ToggleMobileNav" style="top: 1.5rem;" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable-custom">
        <nav>
            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </div>

            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="schedule">
                    Schedule
                </NavLink>
            </div>

            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="results">
                    Results
                </NavLink>
            </div>

            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="contact">
                    Contact
                </NavLink>
            </div>

            <div class="nav-item-custom px-3 header-text">
                <div class="about-us-dropdown">
                    <NavLink class="nav-link-custom" style="cursor: pointer;">
                        Information
                    </NavLink>
                    <div class="dropdown-content">
                        <NavLink class="nav-link-custom" href="associations">
                            Associations
                        </NavLink>
                        <NavLink class="nav-link-custom" href="gallery">
                            Gallery
                        </NavLink>
                        <NavLink class="nav-link-custom" href="aboutus">
                            About Us
                        </NavLink>
                    </div>
                </div>
            </div>

            <AuthorizeView>
                <Authorized>
                    <div class="nav-item-custom px-3">
                        <NavLink class="nav-link-custom" href="Account/Manage">
                            @context.User.Identity?.Name
                        </NavLink>
                    </div>
                    <div class="nav-item-custom px-3">
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="nav-link-custom">
                                Logout
                            </button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item-custom px-3 header-text" style="align-self: center;">
                        <NavLink class="nav-link-custom" href="Account/Login">
                            Login
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </nav>
    </div>
</div>

@if (showMobileNav)
{
    <div class="nav-scrollable-custom-mobile">
        <nav>
            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="" Match="NavLinkMatch.All" @onclick="ToggleMobileNav">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="schedule" @onclick="ToggleMobileNav">
                    <span class="bi bi-calendar-week-fill-nav-menu" aria-hidden="true"></span> Schedule
                </NavLink>
            </div>

            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="results" @onclick="ToggleMobileNav">
                    <span class="bi bi-award-nav-menu" aria-hidden="true"></span> Results
                </NavLink>
            </div>

            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="contact" @onclick="ToggleMobileNav">
                    <span class="bi bi-telephone-nav-menu" aria-hidden="true"></span> Contact
                </NavLink>
            </div>
            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="aboutus" @onclick="ToggleMobileNav">
                    <span class="bi bi-info-square-nav-menu" aria-hidden="true"></span> About Us
                </NavLink>
            </div>
            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="gallery" @onclick="ToggleMobileNav">
                    <span class="bi bi-images-nav-menu" aria-hidden="true"></span> Gallery
                </NavLink>
            </div>

            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="associations" @onclick="ToggleMobileNav">
                    <span class="bi bi-buildings" aria-hidden="true"></span> Associations
                </NavLink>
            </div>

            <AuthorizeView>
                <Authorized>
                    <div class="nav-item-custom px-3 header-text">
                        <NavLink class="nav-link-custom" href="Account/Manage" @onclick="ToggleMobileNav">
                            <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                        </NavLink>
                    </div>
                    <div class="nav-item-custom px-3 header-text">
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="nav-link-custom">
                                <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                            </button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item-custom px-3 header-text">
                        <NavLink class="nav-link-custom" href="Account/Login" @onclick="ToggleMobileNav">
                            <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </nav>
    </div>
}

@code {
    private string? currentUrl;
    private bool showMobileNav = false;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    void ToggleMobileNav()
    {
        showMobileNav = !showMobileNav;
    }
}