@rendermode InteractiveServer

<div class="header-container">
    <div class="ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/5/50/Logo_Le_Plessis-Robinson.svg/1200px-Logo_Le_Plessis-Robinson.svg.png" alt="Landscape" />
            </a>
        </div>
    </div>

    <input type="checkbox" @onchange="ToggleMobileNav" style="top: 1.5rem;" title="Navigation menu" class="navbar-toggler"/>

    <div class="nav-scrollable-custom">
        <nav>
            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </div>

            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="schedule">
                    Schedule
                </NavLink>
            </div>

            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="results">
                    Results
                </NavLink>
            </div>

            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="contact">
                    Contact
                </NavLink>
            </div>
            <div class="nav-item-custom px-3 header-text">
                <div class="about-us-dropdown">
                    <NavLink class="nav-link-custom">
                        Information
                    </NavLink>
                    <div class="dropdown-content">
                        <NavLink class="nav-link-custom" href="associations">
                            Associations
                        </NavLink>
                        <NavLink class="nav-link-custom" href="gallery">
                            Gallery
                        </NavLink>
                        <NavLink class="nav-link-custom" href="aboutus">
                            About Us
                        </NavLink>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

@if (showMobileNav)
{
    <div class="nav-scrollable-custom-mobile">
        <nav>
            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="schedule">
                    <span class="bi bi-calendar-week-fill-nav-menu" aria-hidden="true"></span> Schedule
                </NavLink>
            </div>

            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="results">
                    <span class="bi bi-award-nav-menu" aria-hidden="true"></span> Results
                </NavLink>
            </div>

            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="contact">
                    <span class="bi bi-telephone-nav-menu" aria-hidden="true"></span> Contact
                </NavLink>
            </div>
            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="aboutus">
                    <span class="bi bi-info-square-nav-menu" aria-hidden="true"></span> About Us
                </NavLink>
            </div>
            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="gallery">
                    <span class="bi bi-images-nav-menu" aria-hidden="true"></span> Gallery
                </NavLink>
            </div>

            <div class="nav-item-custom px-3 header-text">
                <NavLink class="nav-link-custom" href="associations">
                    Associations
                </NavLink>
            </div>
        </nav>
    </div>
}

@code {
    private bool showMobileNav = false;

    void ToggleMobileNav()
    {
        showMobileNav = !showMobileNav;
    }
}