@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<h1 style="margin-top: 100px;">Forgot password confirmation</h1>
<p>
    Please check your email to reset your password.
</p>
