@page "/aboutus"
@rendermode InteractiveServer


<div class="about-us-first-part">

    <div>About Us</div>
    <i class="bi bi-dash-lg"></i>
    <div class="about-us-first-part-description">
        Welcome to our website! Here, you can stay updated on all our upcoming matches and events.
        <br />
        We pride ourselves on keeping our community engaged and informed about our activities.
        <br />
        <br />
        On our website, you'll find a dedicated section showcasing all the upcoming matches, including details such as dates, times, locations, and opponents.
        <br />
        Whether you're a player, supporter, or enthusiast, this section will ensure you never miss an important game.


    </div>
</div>


@code {

}
