@page "/gallery"

<PageTitle>Contact Us</PageTitle>



<div class="gallery-first-part">

    <div>Our Gallery</div>
    <i class="bi bi-dash-lg"></i>
    <div class="gallery-first-part-description">
       Here you can find our images from the matches.
    </div>
</div>
 
@code {

}
