@page "/"

<PageTitle>Plessis Sports</PageTitle>

<body class="body-home">
    <div class="main-home">
        <div class="container-cust">
            <div class="module-calendar">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <h5>Starting Date</h5>
                        <h5>10.11.2024</h5>
                    </div>
                    <div class="col-lg-4">
                        <br />
                        <div class="row align-items-center">
                            <div class="col">

                                <h5>Team 1</h5>
                            </div>
                            <div class="col">vs</div>
                            <div class="col">
                                <h5>Team 2</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <br />
                        <h5>Stadium of Paris</h5>

                        <i class="bi bi-geo-alt">Paris</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>