.form-container {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-sport,
.team-input,
.stadium-input,
.place-input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    font-size: 16px;
}

.date-input,
.time-input {
    width: 150px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.datetime-container {
    display: flex;
    width: 300px;
    margin-bottom: 10px;
}

.date-input,
.time-input {
    flex: 1;
}

.date-input {
    margin-right: 5px;
}


@media (max-width: 355px) {
    .form-container {
        padding: 20px;
    }
    .datetime-container {
        display: block;
        width: auto;
        margin-bottom: 10px;
    }
    .select-sport,
    .team-input,
    .date-input,
    .time-input,
    .stadium-input,
    .place-input {
        width: 100%;
        margin-bottom: 10px;
    }

    .btn-submit {
        width: 100%;
    }
}